# =======================================
# Virtual environment
# =======================================
venv/

# ===========================================
# Raw dataset directories
# =======================================
TrafficLabelling/

# =======================================
# Preprocessed data (generated)
# =======================================
preprocessed_binary_10k/
preprocessed_multiclass_20k/

# =======================================
# Python cache
# =======================================
__pycache__/
*.pyc

# =======================================
# Editor / System junk
# =======================================
.DS_Store
.vscode/
.idea/


